@model WhatPetASPC.Models.PetType
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PetType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Species.SpeciesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Species.SpeciesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Outdoors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Outdoors)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoursNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoursNeeded)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.PetImage)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>