@model IEnumerable<WhatPetASPC.Models.PetType>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("change", "#ddlSpecies", function () {
        $("#hfSpeciesName").val($(this).find("option:selected").text());
        document.forms["SpeciesForm"].submit();
    });
</script>
@using (Html.BeginForm("Index", "PetTypes", FormMethod.Post, new { @name = "SpeciesForm" }))
{
    <p>
        @Html.DropDownList("SelectedSpecies", null, new { @id = "ddlSpecies" })
        @Html.Hidden("SpeciesName", null, new { @id = "hfSpeciesName" })
   </p>
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Species.SpeciesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outdoors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursNeeded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetImage)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Species.SpeciesName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TypeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Outdoors)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PurchaseCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MonthlyCost)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoursNeeded)
    </td>
    <td>
        @{String Image = ("../Content/Images/pets/" + item.PetImage);}

        @* Show a small image that displays the ShowImage view when clicked *@
        <a href="@Url.Action("ShowImage", "PetTypes", new { id = item.PetTypeID })"><img alt="@Image" src="@Url.Content(Image)" style="height:100px;"></a>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.PetTypeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.PetTypeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.PetTypeID })
    </td>
</tr>
    }
</table>