@model WhatPetASPC.Models.PetType
@{
    ViewBag.Title = "Selector";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/WhatPetJavaScript.js")"></script>

<h2>Selector</h2>
<table class="table">
    <tr id="QPetsAllowedBlock" style="visibility:visible;">
        <td>Are you permitted to have pets at your property?</td>
        <td>
            @Html.DropDownList("QPetsAllowedList", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "QPetsAllowed", @class = "form-control" })
        </td>
    </tr>
    <tr id="QGardenBlock" style="visibility:hidden;">
        <td>Do you have access to a garden/yard or similar outside space?</td>
        <td>
            @Html.DropDownList("QGardenList", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "QGarden", @class = "form-control" })
        </td>
    </tr>
    <tr id="QAllergiesBlock" style="visibility:hidden;">
        <td>Do you have any animal-based allergies?</td>
        <td>
            @Html.DropDownList("QAllergiesList", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "QAllergies", @class = "form-control" })
        </td>
        <td id="QAllergiesbBlock" style="visibility:hidden;">
            @Html.DropDownList("SpeciesID", null, htmlAttributes: new { @id = "QAllergiesb", @class = "form-control" })
        </td>
    </tr>
    <tr id="QPurchaseCostBlock" style="visibility:hidden;">
        <td>What is your budget for purchasing your pet?</td>
        <td>
            @Html.DropDownList("PetBudget", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Any", Value = "Any" },
                new SelectListItem{ Text="Less than £100", Value = "Low" },
                new SelectListItem{ Text="Between £100 and £500", Value = "Medium" },
                new SelectListItem{ Text="Greater than £500", Value = "High" }
            }, new { @id = "QPurchaseCost", @class = "form-control" })
        </td>
    </tr>
    <tr id="QMonthlyCostBlock" style="visibility:hidden;">
        <td>What is your budget per month for ongoing costs for your pet?</td>
        <td>
            @Html.DropDownList("FoodBudget", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Any", Value = "Any" },
                new SelectListItem{ Text="Less than £50", Value = "Low" },
                new SelectListItem{ Text="Between £50 and £100", Value = "Medium" },
                new SelectListItem{ Text="Greater than £100", Value = "High" }
            }, new { @id = "QMonthlyCost", @class = "form-control" })
        </td>
    </tr>
    <tr id="QHoursNeededBlock" style="visibility:hidden;">
        <td>How many hours during the daytime are you willing to dedicate solely to your pet?</td>
        <td>
            @Html.DropDownList("Hours", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Any", Value = "Any" },
                new SelectListItem{ Text="Less than 2", Value = "Low" },
                new SelectListItem{ Text="Between 2 and 6", Value = "Medium" },
                new SelectListItem{ Text="Greater than 6", Value = "High" }
            }, new { @id = "QHoursNeeded", @class = "form-control" })
        </td>
    </tr>
    <tr id="QSizeBlock" style="visibility:hidden;">
        <td>What size of pet would you prefer?</td>
        <td>
            @Html.DropDownList("QSizeList", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Any", Value = "Any" },
                new SelectListItem{ Text="Small (e.g. toy poodle)", Value = "Small" },
                new SelectListItem{ Text="Medium (e.g. Labrador)", Value = "Medium" },
                new SelectListItem{ Text="Large (e.g. Great Dane)", Value = "Large" }
            }, new { @id = "QSize", @class = "form-control" })
        </td>
    </tr>
    <tr id="QSpeciesWantedBlock" style="visibility:hidden;">
        <td>Do you have an idea of what species you want?</td>
        <td>
            @Html.DropDownList("QSpeciesWantedList", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "", Selected = true, Disabled = true },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "QSpeciesWanted", @class = "form-control" })
        </td>
        <td id="QSpeciesWantedbBlock" style="visibility:hidden;">
            @Html.DropDownList("SpeciesID", null, htmlAttributes: new { @id = "QSpeciesWantedb", @class = "form-control" })
        </td>
    </tr>
    <tr id="Submit" style="visibility:hidden;">
        <td>
            @using (Html.BeginForm("SelectorResult", "PetTypes", FormMethod.Post, new { @name = "SelectorForm" }))
            {
                @Html.Hidden("QPetsAllowedVal", null, new { @id = "QPetsAllowedVal" })
                @Html.Hidden("QGardenVal", null, new { @id = "QGardenVal" })
                @Html.Hidden("QAllergiesVal", null, new { @id = "QAllergiesVal" })
                @Html.Hidden("QAllergiesbVal", null, new { @id = "QAllergiesbVal" })
                @Html.Hidden("QPurchaseCostVal", null, new { @id = "QPurchaseCostVal" })
                @Html.Hidden("QMonthlyCostVal", null, new { @id = "QMonthlyCostVal" })
                @Html.Hidden("QHoursNeededVal", null, new { @id = "QHoursNeededVal" })
                @Html.Hidden("QSizeVal", null, new { @id = "QSizeVal" })
                @Html.Hidden("QSpeciesWantedVal", null, new { @id = "QSpeciesWantedVal" })
                @Html.Hidden("QSpeciesWantedbVal", null, new { @id = "QSpeciesWantedbVal" })

                <input type="submit" value="Find My Pets!" id="SelectorSubmit" onclick="SubmitPressed()" class="form-control" />
            }
        </td>
    </tr>
</table>


