@model IEnumerable<WhatPetASPC.Models.Questions>
@{
    ViewBag.Title = "Selector";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
</script>



<script type="text/javascript">
    function ShowQuestion(ElementID) {
        document.getElementById(ElementID).style.visibility = "visible";
    };
</script>
<script type="text/javascript">
    function HideQuestion(ElementID) {
        document.getElementById(ElementID).style.visibility = "hidden";
    };
</script>
<script type="text/javascript">
    function checkQ10FieldResult() {
        ShowQuestion("Q11Block");
        var result = document.getElementById("Q10").value;
        if (result == "Yes") {
            ShowQuestion("Q10List");
        }
        else {
            HideQuestion("Q10List");
        }
    };
</script>
<script type="text/javascript">
    function checkQ11FieldResult() {
        ShowQuestion("Submit");
        var result = document.getElementById("Q11").value;
        if (result == "Yes") {
            ShowQuestion("Q11List");
        }
        else {
            HideQuestion("Q11List");
        }
    };
</script>
<script type="text/javascript">$("body").on("change", "#Q0", function () { ShowQuestion("Q1Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q1", function () { ShowQuestion("Q2Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q2", function () { ShowQuestion("Q3Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q3", function () { ShowQuestion("Q4Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q4", function () { ShowQuestion("Q5Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q5", function () { ShowQuestion("Q6Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q6", function () { ShowQuestion("Q7Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q7", function () { ShowQuestion("Q8Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q8", function () { ShowQuestion("Q9Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q9", function () { ShowQuestion("Q10Block"); });</script>
<script type="text/javascript">$("body").on("change", "#Q10", function () { ShowQuestion("Q11Block"); checkQ10FieldResult(); });</script>
<script type="text/javascript">$("body").on("change", "#Q11", function () { ShowQuestion("Submit"); checkQ11FieldResult(); });</script>

<script type="text/javascript">
    function SubmitPressed() {
        document.getElementById("Q0Val").value = document.getElementById("Q0").value;
        document.getElementById("Q1Val").value = document.getElementById("Q1").value;
        document.getElementById("Q2Val").value = document.getElementById("Q2").value;
        document.getElementById("Q3Val").value = document.getElementById("Q3").value;
        document.getElementById("Q4Val").value = document.getElementById("Q4").value;
        document.getElementById("Q5Val").value = document.getElementById("Q5").value;
        document.getElementById("Q6Val").value = document.getElementById("Q6").value;
        document.getElementById("Q7Val").value = document.getElementById("Q7").value;
        document.getElementById("Q8Val").value = document.getElementById("Q8").value;
        document.getElementById("Q9Val").value = document.getElementById("Q9").value;
        document.getElementById("Q10Val").value = document.getElementById("Q10").value;
        document.getElementById("Q10ValPet").value = document.getElementById("Q10Value").value;
        document.getElementById("Q11Val").value = document.getElementById("Q11").value;
        document.getElementById("Q11ValPet").value = document.getElementById("Q11Value").value;
    };
</script>

<h2>Selector</h2>
<table class="table">
    <tr>
        <td>@Model.ElementAt(0).QuestionText</td>
        <td>
            @Html.DropDownList("Q0List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "Q0", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q1Block" style="visibility:hidden;">
        <td id="Q1Text">@Model.ElementAt(1).QuestionText</td>
        <td>
            @Html.DropDownList("Q1List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="House", Value = "House" },
                new SelectListItem{ Text="Flat", Value = "Flat" }
            }, new { @id = "Q1", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q2Block" style="visibility:hidden;">
        <td>@Model.ElementAt(2).QuestionText</td>
        <td>
            @Html.DropDownList("Q2List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "Q2", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q3Block" style="visibility:hidden;">
        <td>@Model.ElementAt(3).QuestionText</td>
        <td>
            @Html.TextBox("GardenSize", null, new { @id = "Q3", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q4Block" style="visibility:hidden;">
        <td>@Model.ElementAt(4).QuestionText</td>
        <td>
            @Html.DropDownList("Q4List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "Q4", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q5Block" style="visibility:hidden;">
        <td>@Model.ElementAt(5).QuestionText</td>
        <td>
            @Html.TextBox("PetBudget", null, new { @id = "Q5", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q6Block" style="visibility:hidden;">
        <td>@Model.ElementAt(6).QuestionText</td>
        <td>
            @Html.TextBox("FoodBudget", null, new { @id = "Q6", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q7Block" style="visibility:hidden;">
        <td>@Model.ElementAt(7).QuestionText</td>
        <td>
            @Html.DropDownList("Q7List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="I do not know what pet I would like", Value = "None" },
                new SelectListItem{ Text="I know roughly what pet I would like (e.g. a cat or a dog)", Value = "Some" },
                new SelectListItem{ Text="I know exactly what pet I would like (e.g. a Burmese cat or a Labrador dog)", Value = "Full" }
            }, new { @id = "Q7", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q8Block" style="visibility:hidden;">
        <td>@Model.ElementAt(8).QuestionText</td>
        <td>
            @Html.DropDownList("Q8List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Small (e.g. toy poodle)", Value = "Small" },
                new SelectListItem{ Text="Medium (e.g. Labrador)", Value = "Medium" },
                new SelectListItem{ Text="Large (e.g. Great Dane)", Value = "Large" }
            }, new { @id = "Q8", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q9Block" style="visibility:hidden;">
        <td>@Model.ElementAt(9).QuestionText</td>
        <td>
            @Html.TextBox("Hours", null, new { @id = "Q9", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q10Block" style="visibility:hidden;">
        <td>@Model.ElementAt(10).QuestionText</td>
        <td>
            @Html.DropDownList("Q10List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "Q10", @class = "form-control" })
        </td>
        <td id="Q10List" style="visibility:hidden;">
            @Html.DropDownList("SpeciesID", null, htmlAttributes: new { @id = "Q10Value", @class = "form-control" })
        </td>
    </tr>
    <tr id="Q11Block" style="visibility:hidden;">
        <td>@Model.ElementAt(11).QuestionText</td>
        <td>
            @Html.DropDownList("Q11List", new List<SelectListItem>
            {
                new SelectListItem{ Text="", Value = "" },
                new SelectListItem{ Text="Yes", Value = "Yes" },
                new SelectListItem{ Text="No", Value = "No" }
            }, new { @id = "Q11", @class = "form-control" })
        </td>
        <td id="Q11List" style="visibility:hidden;">
            @Html.DropDownList("SpeciesID", null, htmlAttributes: new { @id = "Q11Value", @class = "form-control" })
        </td>
    </tr>
    <tr id="Submit" style="visibility:visible;">
        <td>
            @using (Html.BeginForm("SelectorResult", "Questions", FormMethod.Post, new { @name = "SelectorForm" }))
            {
                @Html.Hidden("Q0Val", null, new { @id = "Q0Val" })
                @Html.Hidden("Q1Val", null, new { @id = "Q1Val" })
                @Html.Hidden("Q2Val", null, new { @id = "Q2Val" })
                @Html.Hidden("Q3Val", null, new { @id = "Q3Val" })
                @Html.Hidden("Q4Val", null, new { @id = "Q4Val" })
                @Html.Hidden("Q5Val", null, new { @id = "Q5Val" })
                @Html.Hidden("Q6Val", null, new { @id = "Q6Val" })
                @Html.Hidden("Q7Val", null, new { @id = "Q7Val" })
                @Html.Hidden("Q8Val", null, new { @id = "Q8Val" })
                @Html.Hidden("Q9Val", null, new { @id = "Q9Val" })
                @Html.Hidden("Q10Val", null, new { @id = "Q10Val" })
                @Html.Hidden("Q10ValPet", null, new { @id = "Q10ValPet" })
                @Html.Hidden("Q11Val", null, new { @id = "Q11Val" })
                @Html.Hidden("Q11ValPet", null, new { @id = "Q11ValPet" })
                <input type="submit" value="Find My Pets!" id="SelectorSubmit" onclick="SubmitPressed()" class = "form-control"/>
            }
        </td>
    </tr>
</table>


