@model WhatPetASPC.Models.Species
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Species</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetClass.ClassName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetClass.ClassName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpeciesName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SpeciesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>