@model IEnumerable<WhatPetASPC.Models.Species>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("change", "#ddlClass", function () {
        $("#hfClassName").val($(this).find("option:selected").text());
        document.forms["ClassForm"].submit();
    });
</script>
@using (Html.BeginForm("Index", "Species", FormMethod.Post, new { @name = "ClassForm" }))
{
    <p>
        @Html.DropDownList("SelectedClasses", null, new { @id = "ddlClass" })
        @Html.Hidden("ClassName", null, new { @id = "hfClassName" })
    </p>
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetClass.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetClass.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeciesName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SpeciesID })
                @Html.ActionLink("Details", "Details", new { id = item.SpeciesID })
                @Html.ActionLink("Delete", "Delete", new { id = item.SpeciesID })
            </td>
        </tr>
    }
</table>